<div style="padding: 30px">

    <h2>Add Department</h2>

    <form name="regForm" novalidate autocomplete="off">

        <div class="form-group">

            <label for="deptNo">Department No:</label>

            <input type="number" id="deptNo" name="deptNo"
                   class="form-control" required>

            <span class="help-block" ng-show="regForm.deptNo.$invalid">
                Please enter empNo.</span>

        </div>

        <div class="form-group">

            <label for="deptname">Department name:</label>

            <input type="text" id="deptname" name="deptname"
                   class="form-control"  required>

            <span class="help-block" ng-show="regForm.deptname.$invalid">
                Please enter department Name.</span>

        </div>


        <div class="form-group">

            <button type="submit" class="btn-success form-control"
                    ng-disabled="regForm.$invalid">
                Register
            </button>

        </div>

    </form>

    <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
         ng-class="{'alert-success': ctrl.status.code == 202, 'alert-danger': ctrl.status.code == 400 }">

        <button class="close" data-dismiss="alert">
            <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
            &times;
        </button>

        {{ ctrl.status.message }}

    </div>

</div>